body {
  background-color: black;
}

hr.hr1 {
  position: absolute;
  width: 276px;
  left: 50%;
  top: 625px;
  border: 1px solid rgb(173, 169, 169);
  border-radius: 2px;
  transform: translatex(-49%);
}

hr.hr2 {
  position: absolute;
  width: 276px;
  left: 50%;
  top: 70px;
  border: 1px solid rgb(173, 169, 169);
  border-radius: 2px;
  transform: translatex(-49%);
}

.fill1 {
  background-color: darkblue;
  position: relative;
  height: 48px;
  width: 48px;
  top: 3px;
  left: 3px;
  cursor: pointer;
  border-radius: 3px;
}

.fill2 {
  background-color: yellow;
  position: relative;
  height: 48px;
  width: 48px;
  top: 3px;
  left: 3px;
  cursor: pointer;
  border-radius: 3px;
}

.fill3 {
  background-color: green;
  position: relative;
  height: 48px;
  width: 48px;
  top: 3px;
  left: 3px;
  cursor: pointer;
  border-radius: 3px;
}

.fill4 {
  background-color: red;
  position: relative;
  height: 48px;
  width: 48px;
  top: 3px;
  left: 3px;
  cursor: pointer;
  border-radius: 3px;
}

.fill5 {
  background-color: white;
  position: relative;
  height: 48px;
  width: 48px;
  top: 3px;
  left: 3px;
  cursor: pointer;
  border-radius: 3px;
}

.fill6 {
  background-color: orange;
  position: relative;
  height: 48px;
  width: 48px;
  top: 3px;
  left: 3px;
  cursor: pointer;
  border-radius: 3px;
}

.hold {
  border: solid 5px gray;
}

.empty {
  height: 56px;
  width: 56px;
  border: solid 3px rgb(86, 88, 88);
  background: rgb(86, 88, 88);
  border-radius: 4px;
}

.parent {
  display: grid;
  grid-template-columns: 56px 56px 56px 56px 56px;
  position: absolute;
  grid-template-rows: 56px 56px 56px 56px 56px;
  top: 320px;
  left: 50%;
  transform: translatex(-50%);
}

.hovered {
  background-color: grey;
  border-style: dashed;
}

.none {
  display: none;
}

.topper {
  border-radius: 5px;
  display: grid;
  grid-template-columns: 56px 56px 56px;
  position: absolute;
  grid-template-rows: 56px 56px 56px;
  top: 120px;
  left: 50%;
  transform: translatex(-50%);
}

.blocks {
  background-color: grey;
  position: relative;
  height: 50px;
  width: 50px;
  top: 3px;
  left: 3px;
  border-radius: 3px;
}

.top {
  background-color: white;
  position: relative;
  height: 44px;
  width: 44px;
  top: 3px;
  left: 3px;
  border-radius: 3px;
}

.container {
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 630px;
  transform: translateX(-45%);
  margin: 1rem auto;
  padding-top: 1rem;
  color: #fff;
}

.btn {
  background-color: white;
  border: none;
  border-radius: 12px;
  width: 80px;
  height: 30px;
  font-size: 1.2rem;
  outline: none;
  cursor: pointer;
}

.btn:hover {
  background: transparent;
  border: 2px solid white;
  transition: 200ms;
  transform: scale(1, 1);
  color: #fff;
}

.pop {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.pop-content {
  width: 500px;
  height: 300px;
  border-radius: 15px;
  background-color: white;
  display: flex;
  flex-direction: column;
  position: relative;
}

.button {
  background-color: blue;
  border: 2px solid white;
  border-radius: 30px;
  text-decoration: none;
  padding: 10px 28px;
  color: white;
  margin-top: 10px;
  position: absolute;
  left: 50%;
  top: 80%;
  transform: translatex(-50%);
}
.button:hover {
  background-color: white;
  color: blue;
  border: 2px solid blue;
}

.close {
  position: absolute;
  top: 0;
  right: 14px;
  font-size: 42px;
  transform: rotate(45deg);
}

.close:hover {
  cursor: pointer;
}

.text3 {
  animation: blinker 1s linear 0.5;
  position: absolute;
  top: 66%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 30px;
  color: rgb(45, 230, 45);
}

.text2 {
  animation: blinker 1s linear 0.5;
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 30px;
  color: black;
}

.text1 {
  animation: blinker 1s linear 0.5;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 35px;
  color: black;
}

.text4 {
  animation: blinker 1s linear 0.5;
  position: absolute;
  top: 39%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 30px;
  color: black;
}

.text5 {
  animation: blinker 1s linear 0.5;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 30px;
  color: black;
}

@keyframes blinker {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
  }
}

.userid {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-content {
  width: 500px;
  height: 250px;
  border-radius: 15px;
  background-color: white;
  display: flex;
  flex-direction: column;
  position: relative;
}

.button_2 {
  background-color: blue;
  border: 2px solid white;
  border-radius: 30px;
  text-decoration: none;
  padding: 10px 28px;
  color: white;
  margin-top: 10px;
  position: absolute;
  left: 50%;
  top: 70%;
  transform: translatex(-50%);
}

.button_2:hover {
  background-color: white;
  color: blue;
  border: 2px solid blue;
}

.text_1 {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 35px;
  color: black;
}

.name {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 400px;
  transform: translateX(-50%);
  font-size: 35px;
  color: black;
}
