body {
  background-color: darkblue;
}

.fill1 {
  background-color: rebeccapurple;
  position: relative;
  height: 50px;
  width: 50px;
  top: 3px;
  left: 3px;
  cursor: pointer;
}

.fill2 {
  background-color: yellow;
  position: relative;
  height: 50px;
  width: 50px;
  top: 3px;
  left: 3px;
  cursor: pointer;
}

.fill3 {
  background-color: lightgreen;
  position: relative;
  height: 50px;
  width: 50px;
  top: 3px;
  left: 3px;
  cursor: pointer;
}

.fill4 {
  background-color: pink;
  position: relative;
  height: 50px;
  width: 50px;
  top: 3px;
  left: 3px;
  cursor: pointer;
}

.fill5 {
  background-color: orange;
  position: relative;
  height: 50px;
  width: 50px;
  top: 3px;
  left: 3px;
  cursor: pointer;
}

.hold {
  border: solid 5px #ccc;
}

.empty {
  height: 56px;
  width: 56px;
  border: solid 3px grey;
  background: white;
}

.parent {
  display: grid;
  grid-template-columns: 62px 62px 62px 62px 62px;
  position: absolute;
  top: 300px;
  left: 580px;
}

.hovered {
  background: #f4f4f4;
  border-style: dashed;
}

.invisible {
  display: none;
}
